<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="header-title">ArtesanoConect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="event-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="condensed-title">Eventos</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="page-title">
    Eventos <ion-icon name="calendar" class="calendar-icon"></ion-icon>
  </h1>

  <ion-list>
    <ion-card *ngFor="let evento of eventos" class="event-card">
      <ion-card-header>
        <ion-card-title class="event-title">{{ evento.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="event-description">{{ evento.description }}</p>
        <p class="event-date">{{ evento.date | date: 'MMM dd, YYYY h:mm' }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-tab-bar slot="bottom" color="light">
  <ion-tab-button tab="home" [routerLink]="['/home']">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="usuario" [routerLink]="['/usuario']">
    <ion-icon name="person"></ion-icon>
    <ion-label>Usuario</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="map" [routerLink]="['/mapa']">
    <ion-icon name="map"></ion-icon>
    <ion-label>Mapa</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="eventos" [routerLink]="['/eventos']" class="active-tab">
    <ion-icon name="calendar"></ion-icon>
    <ion-label>Eventos</ion-label>
  </ion-tab-button>
</ion-tab-bar>
