<h2 style="text-align: center;">Mapa de locales Artesanías</h2>

<div id="map"></div>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="btn-mapa" expand="full" (click)="showCurrentLocation()">
        <ion-icon name="navigate-outline"></ion-icon>
      </ion-button>  
    </ion-col>
    <ion-col>
      <ion-button  class="btn-mapa" expand="full" (click)="reloadMap()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<p style="text-align: center;">Ingrese su ubicación de su local<br> con Coordenadas</p>

<ion-item class="input-cord">
  <ion-label position="floating"></ion-label>
  <ion-input type="text" [(ngModel)]="coordinates"></ion-input>
  <ion-button  class="btn-add" slot="end" (click)="addLocation()"><ion-icon name="add-circle"></ion-icon></ion-button>
</ion-item>

<ion-button class="btn-add" id="open-modal" expand="block">tiendas</ion-button>


 
<ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div *ngIf="locations.length > 0" style="margin-top: 20px;">
      <h3 style="text-align: center;">Ubicaciones locales</h3>
      <p style="color: blue;" class="btn-shop"  (click)="closeModal()">Cerrar</p>
      <ion-list>
        <ion-item *ngFor="let location of locations; let i = index" lines="full">
          <ion-label>
            {{ location.addedBy }}
          </ion-label>
  
          <ion-buttons slot="end" style="display: flex; justify-content: space-between;">
          
            <ion-button class="btn-go" (click)="goToLocation(location.coordinates)">Ir</ion-button>

            <ion-button *ngIf="location.addedBy.trim() === user.name.trim()" (click)="deleteLocation(i)">Eliminar</ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </div>
  </ng-template>
</ion-modal>

