

#map {
    height: 192px; /* Por ejemplo, ajusta la altura para pantallas pequeñas */

}

.input-cord{
    margin: 13px 0;
    width: 80%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn-mapa {
  margin: 10px 0;
  width: 30%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn-add{
  margin: 14px 0;
  width: 30%;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn-go{
  margin: 10px 0;
  width: 21%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

