<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>ArtesanoConect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user" class="profile-content" color="light">
  <br>
  <div class="profile-header">
    <div class="profile-picture">
      <img [src]="user.profileImage" alt="Profile Image">
    </div>
    <div class="profile-info">
      <h2>{{ user.name }}</h2>
      <ion-button expand="block" [routerLink]="['/editor-user']">Editar Perfil</ion-button>
    </div>
  </div>

  <ion-grid>
    <div *ngIf="user.socialLinks.facebook">
      <p>Facebook: <a [href]="user.socialLinks.facebook" target="_blank">Facebook</a></p>
    </div>
    <div *ngIf="user.socialLinks.instagram">
      <p>Instagram: <a [href]="user.socialLinks.instagram" target="_blank" style="color: rgb(192, 54, 12);">Instagram</a></p>
    </div>
    <div *ngIf="user.bio">
      <p>direccion: {{user.direccion}}</p>
      <p>Biografía: {{ user.bio }}</p>
    </div>
    <h3>Artesanias:</h3>
    <ion-row class="product-images">
      <div *ngIf="user.productImages.length === 0">
        <p>No hay imágenes de productos</p>
      </div>
      <ion-col size="4" *ngFor="let img of user.productImages">
        <ion-img [src]="img"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" [routerLink]="['/home']">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="usuario" [routerLink]="['/usuario']">
    <ion-icon name="person"></ion-icon>
    <ion-label>Usuario</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="map" [routerLink]="['/mapa']">
    <ion-icon name="map"></ion-icon>
    <ion-label>Map</ion-label>
  </ion-tab-button>
</ion-tab-bar>
