<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil <span> <ion-button expand="block" routerLink="/usuario">regresar</ion-button></span></ion-title>
    <!-- regresar usuario -->
   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- insertar imagen -->
  <ion-item>
    <ion-label>agregar Imagen</ion-label>
    <ion-button expand="full" (click)="changeProfileImage()">agregar Imagen</ion-button>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="user.name"></ion-input>
  </ion-item>

  <!-- password -->

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="user.password"></ion-input>
  </ion-item>

  

  <ion-item>
    <ion-label position="floating">Biografía</ion-label>
    <ion-textarea [(ngModel)]="user.bio"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Dirección</ion-label>
    <ion-input [(ngModel)]="user.direccion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Facebook</ion-label>
    <ion-input [(ngModel)]="user.socialLinks.facebook"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Instagram</ion-label>
    <ion-input [(ngModel)]="user.socialLinks.instagram"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">WhatsApp</ion-label>
    <ion-input [(ngModel)]="user.socialLinks.whatsapp"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Producto Imagen</ion-label>
    <ion-button expand="full" (click)="addProductImage()">agregar imagen de producto</ion-button>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let img of user.productImages; let i = index">
        <ion-img [src]="img" class="product-image"></ion-img>
        <ion-button color="danger" expand="full" (click)="removeProductImage(i)">Remover</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" (click)="saveProfile()">Guardar Cambios</ion-button>
</ion-content>
