<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>ArtesanoConect <span>  
     
  </span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 style="text-align: center;">Locales:</h3>

  
  <!-- Barra de búsqueda -->
  <ion-searchbar 
    [(ngModel)]="searchTerm" 
    (ionInput)="filterUsers($event)" 
    placeholder="Buscar usuarios...">
  </ion-searchbar>

  <ion-list>
    <ion-card *ngFor="let user of filteredUsers">
      <ion-card-header>
        <img [src]="user.profileImage" alt="Profile Image">
        <ion-card-title>{{ user.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Dirección: {{ user.direccion }}</p>
        <p>Biografía: {{ user.bio }}</p>
        <p>Email: {{ user.email }}</p>
        <ion-button (click)="viewProfile(user)">Ver Perfil</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" [routerLink]="['/home']">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="usuario" [routerLink]="['/usuario']">
    <ion-icon name="person"></ion-icon>
    <ion-label>Usuario</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="map" [routerLink]="['/mapa']">
    <ion-icon name="map"></ion-icon>
    <ion-label>Map</ion-label>
  </ion-tab-button>

  <!-- eventos -->
  <ion-tab-button tab="eventos" [routerLink]="['/eventos']">
    <ion-icon name="calendar"></ion-icon>
    <ion-label>Eventos</ion-label>
  </ion-tab-button>
</ion-tab-bar>
