<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      ArtesanoConect
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
   
    
  </ion-header>
  <ion-searchbar></ion-searchbar>
<h3 style="text-align: center;">Locales</h3>
  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title> user.name </ion-card-title>

      </ion-card-header>
    
      <ion-card-content >
        Here's a small text description for the card content. Nothing more, nothing less. <br> <br>
        <ion-button>Ver</ion-button>
      </ion-card-content>
    </ion-card>
    
    
  </div>










  
    
  
</ion-content>


<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" [routerLink]="['/home']">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="usuario" [routerLink]="['/usuario']">
    <ion-icon name="person"></ion-icon>
    <ion-label>Usuario</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="map" [routerLink]="['/mapa']">
    <ion-icon name="map"></ion-icon>
    <ion-label>Map</ion-label>
  </ion-tab-button>
</ion-tab-bar>