.login-content {
    --background: url(assets/img/4c2725e44e355158cb47212b44f2bbb2.jpg) no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
  }
  
  .logo-img {
    height: 40px;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .logo-container img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
  }
  
  ion-card {
    width: 90%;
    max-width: 400px;
   
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  p {
    text-align: center;
    font-size: 14px;
  }
  

  //dar resposive para tablet
  @media (min-width: 1136px) {
    .login-content {
      height: 100vh;
    }

    .login-content {
    
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      padding: 160px;
      box-sizing: border-box;

    }

    .logo-img {
      height: 40px;
      margin-left: 10px;
      vertical-align: middle;
    }

    ion-card {
      width: 500%;
      max-width: 600px;
      //mover a la derceha
      margin-left: 2500px;
      
      
     
    }
  //dar resposive para desktop
  }

  @media (min-width: 710px) {
    .login-content {
      height: 100vh;
    }

    .login-content {
    
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      padding: 160px;
      box-sizing: border-box;

    }

    .logo-img {
      height: 40px;
      margin-left: 10px;
      vertical-align: middle;
    }

    ion-card {
      width: 500%;
      max-width: 600px;
      //mover a la derceha
      margin-left: 50px;
      
      
     
    }
  //dar resposive para desktop
  }